@font-face {
  font-family: 'Jalnan';
  src: url('./Jalnan.ttf');
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('./NotoSansKR-Regular.otf');
}

@font-face {
  font-family: 'BMHannaPro';
  src: url('./BMHANNAPro.ttf');
}