.react-datepicker-popper[data-placement^=bottom] 
.react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^=bottom] 
.react-datepicker__triangle::after {
  border: none;
}

.react-datepicker-popper[data-placement^=bottom] {
  padding-top: 0;
}

.react-datepicker__time-container 
.react-datepicker__time 
.react-datepicker__time-box 
ul.react-datepicker__time-list 
li.react-datepicker__time-list-item {
  &--selected {
    background-color: #f3c20b;
    &:hover {
      background-color: #f3c20b;
    }
  }
}

.react-datepicker__time-container 
.react-datepicker__time 
.react-datepicker__time-box 
ul.react-datepicker__time-list {
  &::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    background: #c9c9c9;
  }
  &::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #f3c20b;
    &:hover {
      background: #f3c10ba4;
    }
    &:active{
      background-color: #ffc800;
    }
  }
  &::-webkit-scrollbar-track{
    background: #ffffff;
  }
}

.react-datepicker__header {
  background-color: #ffffff;
  border-bottom: 1px solid #c9c9c9;
}

.react-datepicker-wrapper {
  width: 100px;
}

.react-datepicker {
  font-family: 'NotoSansKR';
}

.react-datepicker--time-only {
  border: 1.3px solid #c9c9c9;
}